/*Общие стили*/
body {
    font-family:"PT Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding:0;
    margin:0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-weight: bold;
}
button {
    border:none;
    font-weight: bold;
}
p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}
figure {
    margin: 0;
    padding: 0;
}
h1 {
    margin:0;
    padding:0;
}
h2 {
    margin:0;
    padding:0;
}
.container {
    margin:0 auto;
    width: 942px;
}
.clearfix {
    clear: both;
}
/*Стили для хэдера*/
.main-header {
    width: 100%;
    background: #000;
    font-size: 16px;
}
.main-header a {
    color: #fff;
    display: block;
    line-height: 20px;
}
.main-navigation {
    width: 630px;
}
.main-navigation,
.main-navigation li,
.user-block {
    display: inline-block;
    vertical-align: top;
}
.main-navigation li {
    margin-left: -4px;
}
.main-navigation li:first-child {
    margin-left: 0;
}
.main-navigation li a {
    padding: 25px 19px;
}
.user-block {
    margin-left: -4px;
    float:right;
}
.user-block a {
    background: url(../img/enter_arrow.png) no-repeat 19px 50%;
    padding: 25px 0;
    padding-left: 49px;
    padding-right: 20px;
}
.main-page {
    display: inline-block;
    vertical-align: top;
    padding-top: 23px;
    margin-left: 20px;
    margin-right: 16px;
}

/*Стили для мейна*/
.shop-item {
    padding-top: 51px;
    padding-bottom: 44px;
    background: url(../img/main_bg.jpg);
}
.m-header h1{
    font-size: 30px;
    margin-bottom:17px;
}
.m-header ul {
    margin-bottom: 53px;
}
.m-header li {
    display: inline-block;
    vertical-align: top;
}
.m-header li:first-child a{
    padding-left:0;
    background: none;
}
.m-header li a {
    display: block;
    background: url(../img/diamond_black.png) no-repeat 0 50%;
    padding-left:25px;
    padding-right: 15px;
    font-size: 14px;
    color: #000;
}
.m-header li.active a {
    color: #aba9a7;
}
.image-item {
    float: left;
    max-width:460px;
}
.photo1 {
    margin-bottom: 16px;
}
.photo2,
.photo3,
.photo4 {
    display: block;
    width: 140px;
    float:left;
}
.photo3 {
    margin-right: 20px;
    margin-left: 20px;
}
.image-descr {
    width: 392px;
    float: left;
    padding-left: 90px;
    font-size: 14px;
}
.image-descr p,
.image-descr span {
    display: inline-block;
}
.image-descr span {
    float: right;
    color:#aeaeae;
    margin-bottom:18px;
}
.image-descr p {
    line-height: 24px;
    margin-bottom: 33px;
}
.image-descr .price {
    background-color: #e5e5e5;
    width: 187px;
    height: 43px;
    margin-bottom: 62px;
}
.image-descr .price em {
    font-style: normal;
    display: block;
    float:left;
    text-align: center;
    width: 109px;
    padding-top: 12px;
}
.image-descr .price a{
    display: block;
    float:left;
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 78px;
    padding: 12px 0;
}
.image-descr h2 {
    font-size: 24px;
    margin-bottom: 29px;
}
.image-descr li {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    background: url(../img/diamond_black.png) no-repeat 0 50%;
    font-size: 14px;
    line-height: 24px;
}

/*Стили для футера*/
.footer-contacts,
.footer-social,
.footer-copyright {
    display: inline-block;
    vertical-align: top;
    margin-left:-5px;
    color:#fff;
}
.main-footer a {
    color:#fff;
}
.main-footer {
    padding-top: 55px;
    padding-bottom:41px;
    background: url(../img/footer_bg.jpg);
    font-weight: bold;
    font-size:14px;
    line-height: 24px;
}
.footer-contacts {
    width:400px;
}
.footer-social {
    width:143px;
    text-align: center;
}
.footer-contacts {
    margin-left: 0;
}
.footer-contacts a {
    display: inline-block;
}
.footer-contacts a::after {
    margin-top:-5px;
    content:"";
    display: block;
    width:100%;
    height:2px;
    border-top: 1px solid #717171;
    background-color: #a9a9a9;
}
.footer-social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    margin-top: 16px;
}
.footer-social li:last-child {
    margin-right: 0;
}
.footer-social li a {
    display: block;
    width: 43px;
    height: 43px;
    background: #000;
}
.footer-copyright {
    width:142px;
    text-align: center;
    float:right;
}
.copyright a {
    display: inline-block;
    background: #000;
    padding:9px 14px;
    margin-top:17px;
}
