/*Общие стили*/
body {
    font-family:"PT Sans", sans-serif;
    text-transform: uppercase;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-weight: bold;
}
button {
    border:none;
    font-weight: bold;
}
p {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}
.container {
    margin:0 auto;
    width: 942px;
    outline: 1px solid red;
}

/*Стили для хэдера*/
.main-header {
    width: 100%;
    background: #000;
    font-size: 16px;
}
.main-header a {
    color: #fff;
    display: block;
    line-height: 20px;
}
.main-navigation {
    width: 630px;
}
.main-navigation,
.main-navigation li,
.user-block {
    display: inline-block;
    vertical-align: top;
}
.main-navigation li {
    margin-left: -4px;
}
.main-navigation li:first-child {
    margin-left: 0;
}
.main-navigation li a {
    padding: 25px 20px;
}
.user-block {
    margin-left: -4px;
    float:right;
}
.user-block a {
    background: url(../img/enter_arrow.png) no-repeat 19px 50%;
    padding: 25px 0;
    padding-left: 49px;
    padding-right: 20px;
}
.main-page {
    display: inline-block;
    vertical-align: top;
    padding-top: 23px;
    margin-left: 20px;
    margin-right: 16px;
}

/*Стили для мейна*/
.main-content {
    background: url(../img/main_bg.jpg);
}
.main-content h1 {
    margin:0;
    padding:0;
    padding-top: 50px;
    margin-bottom:18px;
    font-size: 30px;
}
.m-header li {
    display:inline-block;
    vertical-align: top;
}
.m-header li a {
    font-size: 14px;
    color: #000;
}

/*Стили для футера*/
.footer-contacts,
.footer-social,
.footer-copyright {
    display: inline-block;
    vertical-align: top;
    margin-left:-5px;
    color:#fff;
}
.main-footer a {
    color:#fff;
}
.main-footer {
    padding-top: 58px;
    padding-bottom:41px;
    background: url(../img/footer_bg.jpg);
    font-weight: bold;
    font-size:14px;
    line-height: 24px;
}
.footer-contacts {
    width:400px;
}
.footer-social {
    width:141px;
    text-align: center;
}
.footer-contacts {
    margin-left: 0;
}
.footer-contacts a {
    display: inline-block;
}
.footer-contacts a::after {
    margin-top:-5px;
    content:"";
    display: block;
    width:100%;
    height:2px;
    border-top: 1px solid #717171;
    background-color: #a9a9a9;
}
.footer-social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    margin-top: 16px;
}
.footer-social li:last-child {
    margin-right: 0;
}
.footer-social li a {
    display: block;
    width: 43px;
    height: 43px;
    background: #000;
}
.footer-copyright {
    width:142px;
    text-align: center;
    float:right;
}
.copyright a {
    display: inline-block;
    background: #000;
    padding:9px 14px;
    margin-top:17px;
}
